@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">
            Заказ оформлен успешно
        </h1>
        Номер заказа: @Model <br />
        <img src="~/images/check_mark.jpg" width="30%"/>
    </div>
    <div class="col-12 text-center" style="color: maroon">
        <br />
            Ваш заказ был успешно оформлен
        <br />
    </div>
</div>